<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Preview Post</title>
</head>
<body>
    <div>
        <div id="title"><%- title %></div>
        <p><small>Created at <%- created %>,    Modified at <%- modified %> </small></p>
        <div id="body"><%- body %></div>
    </div>
</html>
